{% extends "modeladmin/create.html" %}
{% load i18n staticfiles %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'calendar/css/admin.css' %}" type="text/css" />
{% endblock %}

{% block form_action %}{{ view.edit_url }}{% endblock %}

{% block header %}
  {{ block.super }}
  <section class="nice-padding">
    <a href="{% url 'calendar_event_modeladmin_edit' view.instance.event_id %}" class="button icon icon-doc-empty-inverse bicolor">Edit Parent Event Page</a>
    <a href="{% url 'calendar_occurrence_modeladmin_delete' view.instance_pk %}" class="button no icon icon-bin bicolor">Delete This Occurrence</a>
  </section>
{% endblock %}


{% block form_actions %}
    <div class="dropdown dropup dropdown-button match-width">
        <button type="submit" class="button action-save button-longrunning" tabindex="3" data-clicked-text="{% trans 'Saving...' %}" {% if page.locked %}disabled {% endif %}>
            <span class="icon icon-spinner"></span><em>{% trans 'Save' %}</em>
        </button>

        {% if user_can_delete %}
            <div class="dropdown-toggle icon icon-arrow-up"></div>
            <ul role="menu">
                <li><a href="{{ view.delete_url }}" class="shortcut">{% trans "Delete" %}</a></li>
            </ul>
        {% endif %}

    </div>
{% endblock %}
