<!--
<div id="footer-middle">
<div class="row">
  <div class="medium-4 columns">
    <%- @partial('footer-about') %>

  </div>
  <div class="medium-8 columns">
    <div class="row collapse">
      <div class="medium-4 columns">
        <div class="ft-border-left">
          <%- @partial('footer-left') %>

        </div>
      </div>
      <div class="medium-4 columns">
        <div class="ft-border-left">
          <%- @partial('footer-center') %>

        </div>
      </div>
      <div class="medium-4 columns">
        <div class="ft-border-left">
          <%- @partial('footer-right') %>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
-->