{% load static %}

<div id="footer-top">
<div class="row">
  <div class="medium-8 columns">
    <h4>Want to stay in the loop?</h4>
    <p>Sign up for our monthly newsletter.</p>
  </div>
  <div class="medium-4 columns">
    <form action="//ofallonlibrary.us1.list-manage.com/subscribe/post?u=72ff0665984a6bc59e09c844e&id=769ea3c2b1" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <div class="row collapse">
      <div class="small-8 columns">

        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="you@example.com" required>

      </div>
      <div class="small-4 columns">

        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button success postfix">

      </div>
    </div>

    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_72ff0665984a6bc59e09c844e_769ea3c2b1" tabindex="-1" value="">
    </div>

    </form>
  </div>
</div>
</div>
