{% load static nav_menu_tags %}

<div id="footer-bottom">
<div class="row">
  <div class="medium-8 columns">
    <a href="<%- @site.url %>">
      <img id="footer-logo" src="{% static 'images/ofpl_logo.png' %}">
    </a>
    <ul class="footer-links">
      {% get_nav_menu 'footer' link_template='nav_menus/bottom_menu_link.html' category_template='nav_menus/bottom_nav_category.html' %}
    </ul>
  </div>
  <div class="medium-4 columns">
    <p>&copy;2016 O'Fallon Public Library</p>
  </div>
</div>
</div>
