{% load static %}

<!-- Favicons -->
<link rel="icon"
	type="image/png"
	href="{% static 'images/icons-startup-imgs/16.png' %}">
<link rel="icon"
	type="image/png"
	href="{% static 'images/icons-startup-imgs/32.png' %}"
	sizes="32x32">
<link rel="icon"
	type="image/png"
	href="{% static 'images/icons-startup-imgs/48.png' %}"
	sizes="48x48">
<link rel="icon"
	type="image/png"
	href="{% static 'images/icons-startup-imgs/64.png' %}"
	sizes="64x64">


<!-- Apple Touch Icons -->
<link rel="apple-touch-icon"
	href="{% static 'images/icons-startup-imgs/120.png' %}"
	sizes="120x120">
<link rel="apple-touch-icon"
	href="{% static 'images/icons-startup-imgs/152.png' %}"
	sizes="152x152">
<link rel="apple-touch-icon"
	href="{% static 'images/icons-startup-imgs/76.png' %}"
	sizes="76x76">
<link rel="apple-touch-icon"
	href="{% static 'images/icons-startup-imgs/114.png' %}"
	sizes="114x114">
<link rel="apple-touch-icon"
	href="{% static 'images/icons-startup-imgs/57.png' %}"
	sizes="57x57">
<link rel="apple-touch-icon"
	href="{% static 'images/icons-startup-imgs/144.png' %}"
	sizes="144x144">
<link rel="apple-touch-icon"
	href="{% static 'images/icons-startup-imgs/72.png' %}"
	sizes="72x72">

<!-- Startup Images -->
<!-- Phone 5, 5S, 5C -->
<link href="{% static 'images/icons-startup-imgs/1096.png' %}"
	media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
	rel="apple-touch-startup-image">

<!-- iPhone 4, 4S -->
<link href="{% static 'images/icons-startup-imgs/920.png' %}"
	media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"
	rel="apple-touch-startup-image">

<!-- iPhone, 3G, 3GS -->
<link href="{% static 'images/icons-startup-imgs/460.png' %}"
	media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)"
	rel="apple-touch-startup-image">

<!-- iPad Retina, Mini Retina Portrait -->
<link href="{% static 'images/icons-startup-imgs/2008.png' %}"
	media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"
	rel="apple-touch-startup-image">

<!-- iPad Retina, Mini Retina Landscape -->
<link href="{% static 'images/icons-startup-imgs/1496.png' %}"
	media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"
	rel="apple-touch-startup-image">

<!-- iPad, Mini Portrait -->
<link href="{% static 'images/icons-startup-imgs/1004.png' %}"
	media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)"
	rel="apple-touch-startup-image">

<!-- iPad, Mini Landscape -->
<link href="{% static 'images/icons-startup-imgs/748.png' %}"
	media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)"
	rel="apple-touch-startup-image">
