{% load static %}

<div id="ajax-sb-right" class="sb-slidebar sb-right sb-momentum-scrolling">

  <h2 id="connectheader" class="text-center">Connect With Us</h2>
  <hr class="sidebar">
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-2 medium-block-grid-3 socialIcons">
        <li><a id="firstSocialLink" href="https://www.facebook.com/ofallonlibrary">
              <img src="{% static 'images/social/fb.png' %}">Facebook
            </a>
        </li>
        <li><a href="https://twitter.com/ofallonlibrary">
              <img src="{% static 'images/social/twitter.png' %}">Twitter
            </a>
        </li>
        <li><a href="http://www.pinterest.com/ofallonlibrary/">
              <img src="{% static 'images/social/pinterest.png' %}">Pinterest
            </a>
        </li>
        <li><a href="">
              <img src="{% static 'images/social/email.png' %}">Email
            </a>
        </li>
        <li><a href="tel:6186323783">
              <img src="{% static 'images/social/phone.png' %}">Phone
            </a>
        </li>
        <li><a href="https://plus.google.com/114570487730985673506/">
              <img src="{% static 'images/social/google+.png' %}">Google+
            </a>
        </li>
        <li><a href="https://www.youtube.com/channel/UCJupkpSuQOo8-1eysN4dtyA">
              <img src="{% static 'images/social/youtube.png' %}">YouTube
            </a>
        </li>
      </ul>
    </div>
  </div>

</div>
