{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <a id="mainContent"></a>
      <h2>Search</h2>

      <div id="content">

<!--
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="submit" value="Search" class="button">
    </form>
-->

        {% if search_results %}
          <ul>
            {% for result in search_results %}
              <li>
                <h5><a href="{% pageurl result %}">{{ result }}</a></h5>
                {% if result.search_description %}
                  {{ result.search_description|safe }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>

          {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
          {% endif %}

          {% for x in search_results.page_range %}
            {% if x > (search_results.number - 5) or x < (search_results.number + 5) %}
              <a>{{ x }}</a>
            {% endif %}
          {% endfor %}

          {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
          {% endif %}
        {% elif search_query %}
          No results found
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
