{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <a id="mainContent"></a>
      <h2>Search</h2>

      <div id="content">

<!--
    <form action="{% url 'search' %}" method="get">
            <li class="arrow">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="submit" value="Search" class="button">
    </form>
-->

        {% if search_results %}
          <ul>
            {% for result in search_results %}
              <li>
                <h5><a href="{% pageurl result %}">{{ result }}</a></h5>
                {% if result.search_description %}
                  {{ result.search_description|safe }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>


      <div class="pagination-centered">
        <ul class="pagination" role="menubar" aria-label="Pagination">
          {% if search_results.has_previous %}
            <li class="arrow">
              <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">&laquo; Previous</a>
            </li>
          {% else %}
            <li class="arrow unavailable">
              &laquo; Previous
            </li>
          {% endif %}

          {% for x in page_number_range %}
            <li><a href="{% url 'search' %}query={{ search_query|urlencode }}&amp;page={{ x }}">{{ x }}</a></li>
          {% endfor %}

          {% if search_results.has_next %}
            <li class="arrow">
              <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next &raquo;</a>
            </li>
          {% else %}
            <li class="arrow unavailable">
              Next &raquo;
            </li>
          {% endif %}
              
        </ul>
      </div>



        {% elif search_query %}
          No results found
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
