{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <h1>Welcome to your new Wagtail site!</h1>

    <p>You can access the admin interface <a href="{% url 'wagtailadmin_home' %}">here</a> (make sure you have run "./manage.py createsuperuser" in the console first).

    <p>If you haven't already given the documentation a read, head over to <a href="http://docs.wagtail.io/">http://docs.wagtail.io</a> to start building on Wagtail</p>
{% endblock %}



{% block js %}
<!--[if lt IE 8 ]>
  <script async type="text/javascript" src="<%- @site.url %>scripts/homeIE7.js"></script>
<![endif]-->
<!--[if IE 8 ]>
  <script async type="text/javascript" src="<%- @site.url %>scripts/homeIE8.js"></script>
<![endif]-->
<!--[if (gt IE 8)|!(IE)]><!-->
  <script async type="text/javascript" src="<%- @site.url %>scripts/homeElse.js"></script>
<!--<![endif]-->

<script type="text/javascript" src="http://imageserver.ebscohost.com/branding/tabbedsearch/js/FormProcessing.js"></script>
{% endblock %}