{% extends "base.html" %}

{% load compress static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
  <div class="row">
  <div class="small-12 columns">

  <div class="row">
    <div class="medium-12">
      <div class="main-carousel">
        <div class="main-carousel">
          {% for item in page.carousel_items.all %}
            <div>
              <div class="row">
                <div class="medium-12 columns">
                  <a href="{{ item.link }}">{% image item.image width-1920 height-1080 %}</a>
                </div>
                <div class="medium-12 columns">
                  {{ item.caption|richtext }}
                  <a href="{{ item.link }}">{{ item.link_text }}</a>
                </div>
              </div><!-- /.row -->
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- bottom columns here -->
  <div class="row">
    <div class="medium-6 large-4 columns">
      {{ page.left_column|richtext }}
    </div>
    <div class="medium-6 large-4 columns bdr">
      {{ page.center_column|richtext }}
    </div>
    <div class="large-4 columns bdr">
      <h3>Events</h3>
      <hr class="hide-for-large-up">
      <div class="row">
        <div class="small-12 medium-6 large-12 columns">
          <div id="datepicker"></div><p><a href="#">Full Calendar</a></p>
        </div>
        <div class="small-12 medium-6 large-12 columns">
          <h4 id="eventDate"></h4>
          <div id="eventContainer"></div>
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>
{% endblock %}


{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!--[if lt IE 8 ]>
  {% compress js %}
    <script type="text/javascript" src="{% static '/js/alertHide.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/html5shiv.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/respond.js' %}"></script>
    <script type="text/javascript" src="{% static '/bower/Slidebars/distribution/0.10.2/slidebars.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/slidebarsConfig.js' %}"></script>
    <script type="text/javascript" src="{% static '/bower/foundation/js/foundation.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/bower/foundation/js/foundation/foundation.interchange.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/foundationConfig.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/slick.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/slickConfig.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/accessibilityTesting.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/searchBox.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/scrollTop.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/accessibilityOff.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/textResize.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/ie7font.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/homeCalendarFunctionality.js' %}"></script>
  {% endcompress %}
<![endif]-->
<!--[if IE 8 ]>
  {% compress js %}
    <script type="text/javascript" src="{% static '/js/alertHide.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/html5shiv.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/respond.js' %}"></script>
    <script type="text/javascript" src="{% static '/bower/Slidebars/distribution/0.10.2/slidebars.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/slidebarsConfig.js' %}"></script>
    <script type="text/javascript" src="{% static '/bower/foundation/js/foundation.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/bower/foundation/js/foundation/foundation.interchange.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/foundationConfig.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/slick.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/slickConfig.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/accessibilityTesting.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/searchBox.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/scrollTop.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/accessibilityOff.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/textResize.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/homeCalendarFunctionality.js' %}"></script>
  {% endcompress %}
<![endif]-->
<!--[if (gt IE 8)|!(IE)]><!-->
  {# {% compress js %} #}
    <script type="text/javascript" src="{% static '/js/alertHide.js' %}"></script>
    <script type="text/javascript" src="{% static '/bower/Slidebars/distribution/0.10.2/slidebars.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/slidebarsConfig.js' %}"></script>
    <script type="text/javascript" src="{% static '/bower/foundation/js/foundation.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/bower/foundation/js/foundation/foundation.interchange.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/foundationConfig.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/slick.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/slickConfig.js' %}"></script>
    <script type="text/javascript" src="{% static '/bower/Slidebars/distribution/0.10.2/slidebars.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/slidebarsConfig.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/accessibilityTesting.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/searchBox.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/scrollTop.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/accessibilityOff.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/textResize.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/homeCalendarFunctionality.js' %}"></script>
  {# {% endcompress %} #}
<!--<![endif]-->

  <script type="text/javascript" src="http://imageserver.ebscohost.com/branding/tabbedsearch/js/FormProcessing.js"></script>
{% endblock %}
